<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista de Película</title>
  <link rel="stylesheet" href="vista.css">
</head>
<body>
  <header>
    <h1>Vista de Película</h1>
  </header>

  <main>
    <div class="movie-view">
      <div class="movie-poster">
        <img src="poster.jpg" alt="Poster de la película">
      </div>
      <div class="movie-details">
        <h2>Título de la Película</h2>
        <p>Género: Acción</p>
        <p>Año: 2023</p>
        <p>Duración: 120 minutos</p>
        <p>Calificación: 8.5/10</p>
        <p>Director: John Doe</p>
        <p>Reparto: Jane Smith, Michael Johnson</p>
        <p>sinopsis</p>
        
      </div>
      
    </div>
    <label for="commit" class="comentario">agrega un comentario </label>
  </main>
</body>
</html>
