<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h2>{{movie.title}}</h2>
{% if visto%}
    <h1>Vista</h1>
{% endif %}   
{%if calif%}
    <h2>calificado</h2>
{% else %}    
<h2>rating</h2>
<form action="{% url 'calificar_pelicula' movie.id %}" method="post">
    {% csrf_token %}
    
    <!-- Otros campos del formulario -->
    
    <div class="rating">
      <input type="radio" id="star5" name="rating" value="1" />
      <label for="star5"></label>
      <input type="radio" id="star4" name="rating" value="2" />
      <label for="star4"></label>
      <input type="radio" id="star3" name="rating" value="3" />
      <label for="star3"></label>
      <input type="radio" id="star2" name="rating" value="4" />
      <label for="star2"></label>
      <input type="radio" id="star1" name="rating" value="5" />
      <label for="star1"></label>
    </div>
    
    <input type="hidden" name="calificacion" id="calificacion" value="" />
    
    <button type="submit">Calificar</button>
  </form>
  {% endif %}
  <script>
    var stars = document.getElementsByName('rating');
    var calificacionInput = document.getElementById('calificacion');
    
    for (var i = 0; i < stars.length; i++) {
      stars[i].addEventListener('change', function() {
        calificacionInput.value = this.value;
      });
    }
  </script>
  
{% if comen %}
    <form action="{% url 'agregar_comentario' movie.id %}" method="POST">
        {% csrf_token %}
  

  
        <div>
            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" rows="4" required></textarea>
        </div>
  
        <button type="submit">Agregar comentario</button>
    </form>
    <h1>comentarios</h1>
    {% for comentario in comentario%}
        
            <h2>{{ comentario.idusuario.username }}</h2>
            <h3>{{comentario.comentario}}</h3>
 
    {% endfor %}
 
{% endif %}
  