{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista de Película</title>
  <link type='text/css' href='{% static "css/vista.css" %}' rel='stylesheet'/>
</head>
<body>
  <header>
    <h1>{{movie.title}}</h1>
    <a href="{% url 'home' %}" class="btn-back">Ir a Home</a>
  </header>

  <main>
    <div class="movie-view">
      <div class="movie-poster">
        <img src="{{ movie.poster_link }}"  alt="Poster de la película">
      </div>
      <div class="movie-details">
        <h2>{{movie.title}}</h2>
        <p>Género: {{movie.generos}}</p>
        <p>Fecha de Lanzamiento: {{movie.release_date}}</p>
        <p>Duración: 120 minutos</p>
        <p>Calificación de los criticos: {{movie.vote_average}}</p>       
      </div>
      
    </div>
    {% if visto%}
    <h1>Vista</h1>
{% endif %}   
{%if calif%}
    <h2>calificado</h2>
{% else %}    
<h2>rating</h2>
<form action="{% url 'calificar_pelicula' movie.id %}" method="post">
    {% csrf_token %}
    
    <!-- Otros campos del formulario -->
    
    <div class="rating">
      <input type="radio" id="star5" name="rating" value="1" />
      <label for="star5"></label>
      <input type="radio" id="star4" name="rating" value="2" />
      <label for="star4"></label>
      <input type="radio" id="star3" name="rating" value="3" />
      <label for="star3"></label>
      <input type="radio" id="star2" name="rating" value="4" />
      <label for="star2"></label>
      <input type="radio" id="star1" name="rating" value="5" />
      <label for="star1"></label>
    </div>
    
    <input type="hidden" name="calificacion" id="calificacion" value="" />
    
    <button type="submit">Calificar</button>
  </form>
  {% endif %}
  <script>
    var stars = document.getElementsByName('rating');
    var calificacionInput = document.getElementById('calificacion');
    
    for (var i = 0; i < stars.length; i++) {
      stars[i].addEventListener('change', function() {
        calificacionInput.value = this.value;
      });
    }
  </script>
{% if movie.id in favoritos %}
    <a href="{% url 'favorita_pelicula_vista' movie.id %}" class="button button-primary">Quitar</a>
{% else %}
    <a href="{% url 'favorita_pelicula_vista' movie.id %}" class="button button-primary">Añadir</a>
{% endif %}
{% if comen %}
    <form action="{% url 'agregar_comentario' movie.id %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" rows="4" required></textarea>
        </div>
  
        <button type="submit">{Agregar comentario}</button>
    </form>
    <h1>comentarios</h1>
    {% for comentario in comentario%}
        
            <h2>{{ comentario.idusuario.username }}</h2>
            <h3>{{comentario.comentario}}</h3>
 
    {% endfor %}
    {%else%}
    <h3>Para comentar tienes que calficar la pelicula </h3>
 
{% endif %}
  </main>
</body>
</html>


  