<!DOCTYPE html>
<html>
<head>
	<title>Menu Lateral</title>
	<link rel="stylesheet" type="text/css" href="menuxd.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
	<nav class="sidebar">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">New and Popular</a></li>
			<li><a href="#">Movies</a></li>
			<li><a href="#">Categories</a></li>
			<li><a href="#">My List</a></li>
		</ul>
	</nav>
	<header>
		<div class="navbar">
			<div class="navbar-left">
				<a href="#"><i class="fas fa-play"></i></a>
			</div>
			<div class="navbar-right">
				<a href="#">More Info</a>
				<form>
					<input type="text" placeholder="Search...">
					<button type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
	</header>
	<main>
		<!-- Contenido de la página -->
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>

